.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background: #76b852;
    padding: 25px;
    color: white;
}

.button {
    background: #43a047;
    border-radius: 5px;
    padding: 10px;
    height: 70px;
    width: 70px;
}

.button-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.name {
    text-align: center;
    text-decoration: solid;
    font-size: 32px;
}

